@font-face {
    font-family: 'Lufga';
    src: url('../fonts/Lufga-Black.otf');
    font-weight: 900;
}

@font-face {
    font-family: 'Lufga';
    src: url('../fonts/Lufga-BlackItalic.otf');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Lufga';
    src: url('../fonts/Lufga-Bold.otf');
    font-weight: 700;
}

@font-face {
    font-family: 'Lufga';
    src: url('../fonts/Lufga-BoldItalic.otf');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Lufga';
    src: url('../fonts/Lufga-ExtraBold.otf');
    font-weight: 800;
}

@font-face {
    font-family: 'Lufga';
    src: url('../fonts/Lufga-ExtraBoldItalic.otf');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Lufga';
    src: url('../fonts/Lufga-ExtraLight.otf');
    font-weight: 100;
}

@font-face {
    font-family: 'Lufga';
    src: url('../fonts/Lufga-ExtraLightItalic.otf');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Lufga';
    src: url('../fonts/Lufga-Italic.otf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Lufga';
    src: url('../fonts/Lufga-Light.otf');
    font-weight: 300;
}

@font-face {
    font-family: 'Lufga';
    src: url('../fonts/Lufga-LightItalic.otf');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Lufga';
    src: url('../fonts/Lufga-Medium.otf');
    font-weight: 500;
}

@font-face {
    font-family: 'Lufga';
    src: url('../fonts/Lufga-MediumItalic.otf');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Lufga';
    src: url('../fonts/Lufga-Regular.otf');
    font-weight: 400;
}

@font-face {
    font-family: 'Lufga';
    src: url('../fonts/Lufga-SemiBold.otf');
    font-weight: 600;
}

@font-face {
    font-family: 'Lufga';
    src: url('../fonts/Lufga-SemiBoldItalic.otf');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Lufga';
    src: url('../fonts/Lufga-Thin.otf');
    font-weight: 200;
}

@font-face {
    font-family: 'Lufga';
    src: url('../fonts/Lufga-ThinItalic.otf');
    font-weight: 200;
    font-style: italic;
}