.section-1{
    min-height: 600px;
    padding: 80px 40px 0px 140px;
    .text{
        .desc{
            font-family: 'Mohave';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 45px;
display: flex;
align-items: center;
letter-spacing: 0.03em;

color: #FFFFFF;
        }
        .meta{
            font-family: 'Mohave';
font-style: normal;
font-weight: 700;
font-size: 90px;
line-height: 125px;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;

border: 2.44587px solid #45E3EF;
text-shadow: 0px 4.89173px 29.3504px rgba(218, 204, 255, 0.8);
        }
    }
    .experienc{
        font-family: 'Mohave';
font-style: normal;
font-weight: 700;
font-size: 90px;
line-height: 125px;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #FFFFFF;

text-shadow: 0px 4.89173px 34.2421px rgba(255, 255, 255, 0.33);
    }
}
